<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4">
  <display-name>StudentsManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>user_login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>SyncingTime</param-name>
    <param-value>10</param-value>
  </context-param>
  <servlet>
    <servlet-name>DBInit</servlet-name>
    <servlet-class>in.jdsoft.studentmanagement.database.DBInit</servlet-class>
    <init-param>
      <param-name>DriverName</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>ServerName</param-name>
      <param-value>localhost</param-value>
    </init-param>
    <init-param>
      <param-name>Port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>DatabaseName</param-name>
      <param-value>db_studentmanagement</param-value>
    </init-param>
    <init-param>
      <param-name>UserName</param-name>
      <param-value>test</param-value>
    </init-param>
    <init-param>
      <param-name>Password</param-name>
      <param-value>test</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ReceiptServlet</servlet-name>
    <servlet-class>in.jdsoft.studentmanagement.servlets.ReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptServlet</servlet-name>
    <url-pattern>/ReceiptServlet/*</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>FeesFeederServlet</servlet-name>
    <servlet-class>in.jdsoft.reportingtool.controller.FeesFeederServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeesFeederServlet</servlet-name>
    <url-pattern>/FeesFeederServlet/*</url-pattern>
  </servlet-mapping>
  
  
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>